/*Official MystiC Website CSS style*/

/**
 * Official MystiC v1.23
 * Copyright 2019-2020 Shubham Patel [WAR10CK]
 * Do Not Use this file, without asking permission from the owner
 */

html {
	scroll-behavior: smooth;
}

body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-weight: normal;
}

/*a[aria-label]:after {
  opacity:0;
  content: attr(aria-label);
  margin: 10px;
  padding: 8px 10px;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20;
  background:transparent;
  transition: opacity 0.5s;
  pointer-events:none;
  color: white;
}

a[aria-label]:hover:after {
  opacity:1;
  transition-delay:0.5s;
}*/

@-webkit-keyframes fadeOut {
	0%{
		opacity: 100%;
	}

	25%{
		opacity: 75%;
	}

	50%{
		opacity: 50%;
	}

	75%{
		opacity: 25%;
	}

	100%{
		opacity: 0;
	}
}

@keyframes fadeOut {
	0%{
		opacity: 100%;
	}

	25%{
		opacity: 75%;
	}

	50%{
		opacity: 50%;
	}

	75%{
		opacity: 25%;
	}

	100%{
		opacity: 0;
	}
}

#boxbg {
	background: black;
	z-index: 10;
	visibility: visible;
	opacity: 1;
	-webkit-transition: visibility 0s, opacity 1s linear;
	-o-transition: visibility 0s, opacity 1s linear;
	transition: visibility 0s, opacity 1s linear;
}

.box {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	overflow: hidden;
}

.box .b {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border-left: 4px solid;
	border-right: 4px solid;
	border-top: 4px solid transparent !important;
	border-bottom: 4px solid transparent !important;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-animation: ro 2s infinite;
	        animation: ro 2s infinite;
}

.box .b1 {
	border-color: #4a69bd;
	width: 120px;
	height: 120px;
}

.box .b2 {
	border-color: #f6b93b;
	width: 100px;
	height: 100px;
	-webkit-animation-delay: 0.2s;
	        animation-delay: 0.2s; 
}

.box .b3 {
	border-color: #2ecc71;
	width: 80px;
	height: 80px;
	-webkit-animation-delay: 0.4s;
	        animation-delay: 0.4s; 
}

.box .b4 {
	border-color: #34495e;
	width: 60px;
	height: 60px;
	-webkit-animation-delay: 0.6s;
	        animation-delay: 0.6s; 
}

@-webkit-keyframes ro {
	0%{
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		        transform: translate(-50%, -50%) rotate(0deg);
	}
	50%{
		-webkit-transform: translate(-50%, -50%) rotate(-180deg);
		        transform: translate(-50%, -50%) rotate(-180deg);
	}
	100%{
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		        transform: translate(-50%, -50%) rotate(0deg);
	}
}

@keyframes ro {
	0%{
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		        transform: translate(-50%, -50%) rotate(0deg);
	}
	50%{
		-webkit-transform: translate(-50%, -50%) rotate(-180deg);
		        transform: translate(-50%, -50%) rotate(-180deg);
	}
	100%{
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		        transform: translate(-50%, -50%) rotate(0deg);
	}
}

.navbar-inverse {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	-webkit-box-shadow: 0 0 0 4px hsl(180, 100%, 10%),
    			0 0 0 6px hsl(180, 100%, 70%);
	        box-shadow: 0 0 0 4px hsl(180, 100%, 10%),
    			0 0 0 6px hsl(180, 100%, 70%);
    border-radius: 0px 0px 10px 10px;
}

.navbar-inverse .navbar-nav .navbar-right > li > a:hover {
	border-top: 5px solid rgb(102, 255, 255);
}

.navbar-brand {
	padding-top: 0px;
}
.navbar-brand > img {
	width: 60px;
	height: 60px;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
	padding-top: 0px;
}

.navbar-brand > img:hover {
	width: 85px;
	height: 85px;
}

#logo {
	font-family: Orbitron;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	text-shadow: 0 4px 3px rgba(0,0,0,0.6),
				 0 8px 13px rgba(0,0,0,0.2),
				 0 18px 23px rgba(0,0,0,0.2);
}

#logo a {
	padding-left: 0px;
}

.navbar-inverse .navbar-nav > li > a{
	text-shadow: 0 4px 3px rgba(0,0,0,0.4),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.1);
}

.active , .dropdown-toggle {
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
	font-family: TimesNewRoman, Georgia;
}

.active:hover , .dropdown-toggle:hover {
	font-size: 1.1em;
	border-bottom: 3px solid rgba(102, 255, 224);
	-webkit-box-shadow: 0 4px 3px rgba(0,0,0,0.6),
				0 8px 13px rgba(0,0,0,0.2),
				0 18px 23px rgba(0,0,0,0.2);
	        box-shadow: 0 4px 3px rgba(0,0,0,0.6),
				0 8px 13px rgba(0,0,0,0.2),
				0 18px 23px rgba(0,0,0,0.2);
	border-radius: 10px;
	letter-spacing: 0.5px;
}

.customnavli {
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
	font-family: TimesNewRoman, Georgia;
}

.customnavli:hover {
	font-size: 1.1em;
	border-bottom: 2px solid rgba(102, 255, 224);
	-webkit-box-shadow: 0 4px 3px rgba(0,0,0,0.6),
				0 8px 13px rgba(0,0,0,0.2),
				0 18px 23px rgba(0,0,0,0.2);
	        box-shadow: 0 4px 3px rgba(0,0,0,0.6),
				0 8px 13px rgba(0,0,0,0.2),
				0 18px 23px rgba(0,0,0,0.2);
	border-radius: 10px;
	letter-spacing: 0.5px;
}

.navbar-nav > li > .dropdown-menu {
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	     -o-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a {
	color: white;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: white;
	font-size: 1.1em;
	background: transparent;
	border-bottom: 2px solid rgba(102, 255, 224);
	-webkit-box-shadow: 0 4px 3px rgba(0,0,0,0.6),
				0 8px 13px rgba(0,0,0,0.2),
				0 18px 23px rgba(0,0,0,0.2);
	        box-shadow: 0 4px 3px rgba(0,0,0,0.6),
				0 8px 13px rgba(0,0,0,0.2),
				0 18px 23px rgba(0,0,0,0.2);
	border-radius: 10px;
	letter-spacing: 0.5px;
}

.dropdown-menu .divider {
	background-color: rgba(102, 255, 224);
}


/*********************
Server Page
**********************/

.Serverpage {
	padding-top: 50px;
	padding-bottom: 50px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.80)),color-stop(26%, rgba(0,0,0,0.80)),to(rgba(0,0,0,0.80))), url(HP_Serverpage.jpg);
	background: -o-linear-gradient(top, rgba(0,0,0,0.80) 0%,rgba(0,0,0,0.80) 26%,rgba(0,0,0,0.80) 100%), url(HP_Serverpage.jpg);
	background: linear-gradient(to bottom, rgba(0,0,0,0.80) 0%,rgba(0,0,0,0.80) 26%,rgba(0,0,0,0.80) 100%), url(HP_Serverpage.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	color: white;
	z-index: 1;
}

.Serverpage .ServerHeading h1{
	text-align: center;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 7%;
	font-size: 75px;
	font-family: 'Black Ops One', cursive;
	text-transform: uppercase;
	text-shadow: 0 4px 3px rgba(0,0,0,0.3),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.1);
	border-bottom: 5px solid white;
	border-radius: 10px;
	box-shadow: 0 0 0 rgba(0,0,0,0.6);
				-moz-box-shadow: 0 0 0 rgba(0,0,0,0.6);
				-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.6);
				-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.Serverpage .Servername h2{
	padding: 10% 25% 10% 25%;
	text-align: center;
	font-family: Georgia;
	text-transform: uppercase;
	text-shadow: 0 4px 3px rgba(0,0,0,0.3),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.1);
}

.Serverpage .Serverside iframe {
	border-left: 1px solid rgb(255, 255, 51);
	border-right: 1px solid rgb(255, 255, 51);
	border-top: 1px solid 	rgb(255, 255, 51);
	border-bottom: 1px solid 	rgb(255, 255, 51);
	box-shadow: 0 0 10px rgba(255,255,51,0.6);
				-moz-box-shadow: 0 0 10px rgba(255,255,51,0.6);
				-webkit-box-shadow: 0 0 10px rgba(255,255,51,0.6);
				-o-box-shadow: 0 0 10px rgba(255,255,51,0.6);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.80)),color-stop(26%, rgba(0,0,0,0.80)),to(rgba(0,0,0,0.80)));
	background: -o-linear-gradient(top, rgba(0,0,0,0.80) 0%,rgba(0,0,0,0.80) 26%,rgba(0,0,0,0.80) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.80) 0%,rgba(0,0,0,0.80) 26%,rgba(0,0,0,0.80) 100%);
}

.Serverpage .Serverside h3 a{
	padding-left: 5px;
	padding-top: 20px;
	margin-top: 5px;
	padding-bottom: 20px;
	font-family: TimesNewRoman, Georgia;
	text-decoration: none;
}

.Serverpage .Serverside h3 a:hover{
	text-decoration: underline;
	color: white;
}

.Serverpage .features {
	padding-left: 10%;
}

.Serverpage .features .featuresheading{
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Acme', sans-serif;
	text-shadow: 0 4px 3px rgba(0,0,0,0.3),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.1);
	font-weight: normal;
	margin-top: 0;
	color: #FF1111;
}

.Serverpage .features ul li {
	list-style-type: square;
	font-size: 20px;
	font-family: 'IBM Plex Serif', serif;
	text-shadow: 0 4px 3px rgba(0,0,0,0.3),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.1);
	font-weight: normal;
}

.Serverpage .features p{
	font-size: 23px;
	font-family: 'Kanit', sans-serif;
	font-weight: normal;
	text-shadow: 0 4px 3px rgba(0,0,0,0.3),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.1);
}

.Serverpage hr{
	width: 75%;
	border-bottom: 5px solid white;
	border-radius: 0px 0px 15px 15px;
	box-shadow: 0 0 0 rgba(0,0,0,0.6);
				-moz-box-shadow: 0 0 0 rgba(0,0,0,0.6);
				-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.6);
				-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.Serverpage .VIPSession {
	text-align: center;
}

.Serverpage .VIPSession h3{
	font-family: 'Acme', sans-serif;
	color: rgba(255, 255, 0);
	font-size: 25px;
	text-transform: uppercase;
	text-shadow: 0 4px 3px rgba(0,0,0,0.3),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.1);
}

.Serverpage .VIPSession h3 span{
	color: rgba(0,255,255);
}

.Serverpage .VIPSession p{
	font-family: 'IBM Plex Serif', serif;
	color: lightgreen;
	font-size: 17px;
	text-shadow: 0 4px 3px rgba(0,0,0,0.3),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.1);
}

.Serverpage .VIPSession img {
	width: 65%;
	height: 45vh;
}

.Serverpage .VIPSession a p{
	font-family: 'Acme', sans-serif;
	padding-top: 20px;
	color: yellow;
	font-size: 30px;
	text-shadow: 0 4px 3px rgba(0,0,0,0.3),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.1);
	text-decoration: none;
	text-transform: uppercase;
}

.Serverpage .VIPSession a p:hover{
	color: white;
}

/*.Serverpage .features hr{
	height: 12px;
    border: 0;
    -webkit-box-shadow: inset 0 12px 12px -12px rgb(255, 255, 255);
            box-shadow: inset 0 12px 12px -12px rgb(255, 255, 255);
}*/

.Serverpage .features .Serversupportlinks ul li{
	color: rgba(255, 255, 0, 0.8);
	font-size: 17px;
	list-style: none;
	float: left;
	margin: auto 10px;
	text-decoration: none;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}

.Serverpage .features .Serversupportlinks ul li:hover {
	font-size: 17px;
	text-decoration: none;
	color: white;
	padding: 2px 2px;
	/*background: linear-gradient(to bottom, rgba(0,0,0,0.80) 0%,rgba(0,0,0,0.80) 26%,rgba(0,0,0,0.80) 100%);*/
}

/*********************
Website Footer Section
**********************/

.Footer {
	background: black;
	width: 100%;
	height: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.socialmedialinks > ul > li{
	list-style: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 30px 10px 20px 10px;
	font-size: 25px;
	float: left;	
}

.EmailMystiC {
	color: white;
	clear: left;
	padding: 0px 10px 0px 40px;
	font-size: 15px;
}

.socialmedialinks .EmailMystiC > p > a {
	color: white;
	text-decoration: none;
	font-size: 17px;
	letter-spacing: 0.5px;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}


.socialmedialinks .EmailMystiC > p > a:hover {
	font-size: 19px;
	color: white;
	text-decoration: underline;
}

.socialmedialinks .fa-instagram {
	color: #c32aa3;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}

.socialmedialinks .fa-instagram:hover {
	font-size: 1.2em;
	color: white;
}

.socialmedialinks .fa-facebook {
	color: #3b5998;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s; 
}

.socialmedialinks .fa-facebook:hover {
	font-size: 1.2em;
	color: white;
}

.socialmedialinks .fa-youtube-play {
	color: #b31217;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}

.socialmedialinks .fa-youtube-play:hover {
	font-size: 1.2em;
	color: white;
}

.socialmedialinks .fa-whatsapp {
	color: #25d366;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}

.socialmedialinks .fa-whatsapp:hover {
	font-size: 1.2em;
	color: white;
}

.Agreements > ul {
	padding-top: 20px;
}

.Agreements > ul > li{
	list-style: none;
	-webkit-box-align: left;
	    -ms-flex-align: left;
	        align-items: left;
	margin: 0;
	padding: 1px 0px 1px 10px;
	font-size: 20px;
}

.Agreements > ul > li > a {
	color: white;
	text-decoration: none;
}

#Agreementsborder {
	border-bottom: 1px solid white;
}

.footerlogo{
	text-align: center;
}

.footerlogo > a > img {
	width: 20%;
	height: 20%;
	margin: 0;
}

.footerlogo > p {
	margin-top: 10px;
	color: white;
}
